{% extends 'layout.html' %}

{% block title %}Image Search API{% endblock %}

{% block content %}
<form>
  Make a Query:</br>
  <input name="query-input" action="" id="query-input"></input></br>
  <button id="query">Go</button>
</form>
</br>
Recent Queries:</br>
<a href="/image-search/recent"><Button>Go</button></a>
<script>
  formButton = document.getElementById("query");
  formInput = document.getElementById("query-input");
  formButton.addEventListener('click', function(e) {
    e.preventDefault();
    if (formInput.value){
      window.location.href = '/image-search/q/' + formInput.value;
    }
  }, false);
</script>
{% endblock %}
